*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-green: #50fa7b;
    --colr-rocket: #7159c1;
}

body{
    background-color: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.28);
}

header nav{
    text-align: center;
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.links a:hover{
    color: var(--color-green);
    transition: color 200ms;
}

main{
    text-align: center;
    padding: 32px;
}

main img{
    width: 300px;
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
}

main section h1{
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
}

main section h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 8px;
    opacity: 0.7;
}

main section h2 a{
    text-decoration: none;
    color: var(--color-green);
}

main section p{
    margin: 32px;
    font-size: 24px;
    line-height: 34px

}


/* Rodapé */
footer{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.28);
    text-align: center;
}

/*== CARDS ==*/
.title{
    padding: 32px;
}

.cards{
    max-width:800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    background-color: var(--colr-rocket);
    cursor: pointer;

    display: grid;
}

.card-image-container img{
    width: 100%;
    border-radius: 0;
    border: 0;
}

.featured-wrapper.card-image-container{    
    position: relative;
}

.featured{
    background-color: #f7d05f;
    color: #111;
    padding: 2px 8px;
    position: absolute;
    right: 5px;
    border-radius: 16px;
    top: -12px;
}

.card-content,
.car-info{
    padding: 24px;
}

.car-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card_price{
    background-color: var(--colr-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*== MODAL ==*/
.modal_overlay{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close_modal{
    color: black;
    position: absolute;
    right: 18px;
    top: 9px;
    cursor: pointer;
}

/*== Modal active ==*/
.modal_overlay.active{
    opacity: 1;
    visibility: visible;
}


iframe {
    width: 100%;
    height: 90%;  
    position: absolute;
    top: 5%; 
    left: 0;
}

/*== Video Page ==*/
.video{
    margin: 0 auto;
    max-width: 800px;

}

.card-video-container{
    position: relative;
    padding-top: 60%;
}

.card-video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}